body{
    background-image: url(DOL.JPG); 
     background-size: cover ;
     background-position: center;
     background-repeat: no-repeat;
     color: #150505;
     font-weight: 900;
     min-height: 100vh;
     

     
     
}